---
const title = 'Astro Index';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/posts/">Blog</a>
		<h1>My {title} page</h1>
		<div class="p font">Speed run of the astro.build tut</div>
	</body>
</html>
